<button pButton pRipple type="button" class="p-button-raised p-button-text placeholder col-md transition-delay-100"
        label="Sign out" (click)="authenticationService.SignOut()"></button>


<p-table [value]="bucketListItems" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Members</th>
            <th>Ready</th>
            <th>--</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
        </tr>
    </ng-template>
</p-table>