<div class="form shadow-8 m-8 p-6 surface-0">
    <p-table [value]="bucketListItems" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">

                <p-button styleClass="p-button-raised p-button-text placeholder transition-delay-100"
                          (click)="showModifyProfile()">
                    <img alt="logo" [src]="authenticationService.getLocalUser().photoURL" style="width: 1.5rem"/>
                    <span class="ml-2 font-bold">{{authenticationService.username}}</span>
                </p-button>

                <h3>Bucket List</h3>

                <div>
                    <button pButton pRipple type="button"
                            class="p-button-raised p-button-text placeholder transition-delay-100 mr-2"
                            icon="pi pi-plus" (click)="showAddPanel=true"></button>

                    <button pButton pRipple type="button"
                            class="p-button-raised p-button-text placeholder transition-delay-100 mr-2"
                            icon="pi pi-share-alt" (click)="showJoinPanel=true"></button>

                    <button pButton pRipple type="button"
                            class="p-button-raised p-button-text placeholder transition-delay-100 mr-4"
                            icon="pi pi-refresh" (click)="queryAction()"></button>

                    <button pButton pRipple type="button" class="p-button-raised p-button-text transition-delay-100 "
                            label="Sign out" (click)="authenticationService.SignOut()"></button>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Members</th>
                <th class="w-1">Status</th>
                <th class="w-1"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.title}}</td>

                <td>
                    <p-chip *ngFor="let member of item.members" [label]="member" image="" styleClass="mr-2"></p-chip>
                </td>

                <td>
                    <i *ngIf="item.complete" class="pi pi-check text-2xl"></i>
                    <i *ngIf="!item.complete" class="pi pi-times text-2xl"></i>
                </td>

                <td class="text-right">
                    <button pButton pRipple type="button" icon="pi pi-cog"
                            class="p-button-rounded p-button-info p-button-outlined"
                            (click)="modifyAction(item)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{bucketListItems ? bucketListItems.length : 0 }} items.
            </div>
        </ng-template>
    </p-table>
</div>

<app-modify-profile
        [showDialog]="showModifyProfilePanel"
        (onHide)="hideModifyProfile()">
</app-modify-profile>

<app-create-bucket [show]="showAddPanel" (onAdd)="queryAction()" (onHide)="showAddPanel=false"></app-create-bucket>
<app-join-bucket [show]="showJoinPanel" (onJoin)="queryAction()" (onHide)="showJoinPanel=false"></app-join-bucket>
<app-modify-bucket [bucketListItem]="bucketListItem" [show]="showModifyPanel" (onUpdate)="queryAction()"
                   (onHide)="showModifyPanel=false"></app-modify-bucket>