<p-dialog header="Modify"
          styleClass="lg:w-4"
          *ngIf="bucketListItem"
          [(visible)]="show"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [position]="'top'"
          (onHide)="onHide.emit()">

    <span class="p-float-label mt-4 mb-4">
        <input id="title-input" type="text" pInputText [(ngModel)]="bucketListItem.title" class="w-full">
        <label for="title-input">Title</label>
    </span>

    <span class="p-float-label">
        <textarea id="description-input" rows="5" cols="30" pInputTextarea [autoResize]="true" class="w-full h-auto"
                  [(ngModel)]="bucketListItem.description"></textarea>
        <label for="description-input">Description</label>
    </span>

    <div class="grid mt-4">
        <div class="col-12 lg:col-8">
            <span class="p-float-label">
                <input pInputText
                       id="inviteCode-input"
                       type="text"
                       disabled="true"
                       class="w-full"
                       [(ngModel)]="bucketListItem.inviteCode">
                <label for="inviteCode-input">Invite Code</label>
            </span>
        </div>
        <div class="col-12 lg:col-4">
            <p-toggleButton
                    onLabel="Completed"
                    offLabel="Pending"
                    onIcon="pi pi-check"
                    offIcon="pi pi-times"
                    [style]="{'width': '100%'}"
                    [(ngModel)]="bucketListItem.complete"></p-toggleButton>
        </div>
    </div>

    <ng-template pTemplate="footer">

        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                         rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <p-button (click)="deleteItem()" styleClass="float-left p-button-text" icon="pi pi-trash"
                  label="Delete"></p-button>


        <!--        <p-confirmPopup></p-confirmPopup>-->
        <!--        <button (click)="deleteItem($event)" pButton icon="pi pi-trash" class="float-left p-button-text"-->
        <!--                label="Delete"></button>-->

        <!--        <p-button icon="pi pi-trash" (click)="deleteItem($event)" label="Delete" styleClass="p-button-text" class="float-left"></p-button>-->
        <p-button icon="pi pi-times" (click)="show=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="putItem()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>