<p-dialog header="Create" [(visible)]="show" [position]="'top'"  (onHide)="onHide.emit()" [modal]="true"
          [style]="{width: '35vw'}"
          [draggable]="false" [resizable]="false">

    <span class="p-float-label mt-4 mb-4">
        <input id="title-input" type="text" pInputText [(ngModel)]="title" class="w-full">
        <label for="title-input">Title</label>
    </span>

    <span class="p-float-label">
        <textarea id="description-input" rows="5" cols="30" pInputTextarea [autoResize]="true" class="w-full h-auto"
                  [(ngModel)]="description"></textarea>
        <label for="description-input">Description</label>
    </span>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="create()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>